	<div class="content">
	<br/>
	<div class="product-list">
		
		<h2>Login</h2>
		<br/>
		
		<b>Please enter your information.</b><br/><br/>
		<form action="login.html" method="POST">
			<p>
				<label>Email: </label>
				<input type="text" name="data[email]" />
			<p>
			<p>
				<label>Password: </label>
				<input type="password" name="data[password]" />
			<p>
			<p>
				<input type="reset" name="data[clear]" value="Clear" class="button"/>
				<input type="submit" name="data[submit]" value="Submit" class="button marL10"/>
			<p>
		</form>
	</div><!-- product-list -->
</div>
	