
<div id="wrapper">
		

<div id="header">
		<div id="logo" class="left">
			<a href="/"><img src="images/logo.png" alt="SweetsComplete.Com"/></a>
		</div>
		<div class="right marT10">
			<b>
			<a href="/login" >Login</a> |<a href="/members" >Our Members</a> |<a href="/cart" >Shopping Cart</a>
			</b>
		</div>
		<ul class="topmenu">
		<li><a href="partials/about">About Us</a></li>
		<li><a href="partials/products">Products</a></li>
		<li><a href="partials/specials">Specials</a></li>
		<li><a href="partials/contact">Contact Us</a></li>
		</ul>
		<br>
		<div class="banner"><p></p></div>
		<br class="clear"/>
	</div> <!-- header -->